<p id="notice"><%= notice %></p>

<p>
  <strong>Service provider:</strong>
  <%= @marshall_warning.service_provider_id %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @marshall_warning.registration_number %>
</p>

<p>
  <strong>Fault:</strong>
  <%= @marshall_warning.fault %>
</p>

<p>
  <strong>Action comment:</strong>
  <%= @marshall_warning.action_comment %>
</p>

<%= link_to 'Edit', edit_marshall_warning_path(@marshall_warning) %> |
<%= link_to 'Back', marshall_warnings_path %>
