<p id="notice"><%= notice %></p>

<h1>Service Providers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Name abreviation</th>
      <th>Contact email</th>
      <th>Contact name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_providers.each do |service_provider| %>
      <tr>
        <td><%= service_provider.name %></td>
        <td><%= service_provider.name_abreviation %></td>
        <td><%= service_provider.contact_email %></td>
        <td><%= service_provider.contact_name %></td>
        <td><%= link_to 'Show', service_provider %></td>
        <td><%= link_to 'Edit', edit_service_provider_path(service_provider) %></td>
        <td><%= link_to 'Destroy', service_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Provider', new_service_provider_path %>
